.wrapper {
    width: 1200px;
    margin: 0 auto;
}

body {
    background-color: #f3f5f7;

}

.header {
    height: 100px;
    background-color: #fff;
}

.header .wrapper {
    display: flex;
    padding-top: 29px;
}

.header .logo h1 a {
    display: block;
    width: 195px;
    height: 41px;
    background-image: url(../images/logo.png);
    font-size: 0;
}

.header .wrapper .nav {
    margin-left: 102px;
}

.header .wrapper .nav li {
    margin-right: 24px;
}

.header .wrapper .nav ul {
    display: flex;
}

.header .wrapper .nav li a {
    display: block;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 19px;
    line-height: 27px;
}

.header .wrapper .nav ul .active, .header .wrapper .nav li a:hover {
    border-bottom: 2px solid #00a4ff;
}

.header .wrapper .search {
    display: flex;
    padding-left: 19px;
    padding-right: 12px;
    width: 412px;
    height: 40px;
    background-color: #f3f5f7;
    border-radius: 20px;
    margin-left: 64px;

}

.search input {
    flex: 1;
    border: none;
    background-color: transparent;
    outline: none;

}

.search input::placeholder {
    font-size: 14px;
    color: #999;
}

/* 父级是flex布局 子级变弹性盒子：加宽高直接生效 */
.search a {
    align-self: center;
    width: 16px;
    height: 16px;
    background-image: url(../images/search.png);
}

.user {
    margin-left: 32px;
    margin-top: 4px;
    margin-bottom: 7px;

}

.user img {
    vertical-align: middle;
    margin-right: 7px;
}

.user span {
    font-size: 16px;
    color: #666;
}

.banner {
    height: 420px;
    background-color: #0092cb;
}

.banner .wrapper {
    display: flex;
    height: 420px;
    background-image: url(../uploads/banner.png);
    background-repeat: no-repeat;
    justify-content: space-between;
}

.banner .left {
    padding: 3px 20px;
    width: 191px;
    height: 420px;
    background-color: #000;
    opacity: 0.42;
}

.banner .left a {
    height: 46px;
    line-height: 46px;
    display: block;
    color: #fff;
    font-size: 16px;
    background-image: url(../images/right.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.banner .left a:hover {
    color: #00a4ff;
    background-image: url(../images/right-hover.png);
}

.banner .right {
    width: 218px;
    height: 305px;
    background-color: #209bd5;
    margin-top: 60px;
    border-radius: 10px;

}

.banner .right h3 {
    margin-left: 14px;
    height: 48px;
    line-height: 48px;
    font-size: 15px;
    color: #fff;
    font-weight: 400;
}

.banner .right .content {
    background-color: #fff;
    height: 257px;
    border-radius: 10px;
    padding: 14px;
    
}

.banner .right dl {
    margin-bottom: 12px;
    border-bottom: 1px solid #e0e0e0;
}

.banner dl dt {
    font-size: 14px;
    margin-bottom: 8px;
    line-height: 20px;
    font-weight: 700;
}

.banner dl dd {
    line-height: 16px;
    font-size: 12px;
    margin-bottom: 8px;
}

.banner .right dd span {
    color: #00a4ff;

}

.banner .right dd strong {
    color: #7d7d7d;
    font-weight: 400;
}

.banner .right a {
    display: block;
    width: 150px;
    height: 32px;
    border-radius: 15px;
    background-color: #00a4ff;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    color: #fff;
}

.recommend {
    display: flex;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(211, 211, 211, 0.5);
    margin-top: 11px;
    padding: 0 20px;
    line-height: 60px;
    
}

.recommend ul {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.recommend h3 {
    color: #00a4ff;
    font-size: 18px;
    font-weight: 400;
}

.recommend ul li a {
    padding: 0 24px;
    border-right: 1px solid #e0e0e0;
    font-size: 18px;

}

.recommend ul li:last-child a {
    border-right: none;
}

.recommend .modify {
    color: #00a4ff;
    font-size: 16px;
}

.course {
    margin-top: 15px;
}

.hd {
    line-height: 60px;
    height: 60px;
    display: flex;
    justify-content: space-between;  
}

.hd h3 {
    font-size: 21px;
    font-weight: 400;
}

.course .hd .more {
    font-size: 14px;
    color: #999;
    background-image: url(../images/more.png);
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 20px;
}

.bd li {
    height: 271px;
    width: 228px;
    background-color: pink;
    margin-bottom: 14px;
}

.bd ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bd li .pic {
    height: 156px;
}

.bd li .text {
    height: 115px;
    background-color: #fff;
    padding: 20px;

}

.bd li .text h4 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    height: 40px;
    margin-bottom: 14px;
}

.bd li .text p {
    font-size: 14px;
    line-height: 20px;
    color: #999;
}

.bd li .text p span {
    color: #fa6400;
}

.bd li .text p i {
    font-style: normal;
}

.hd ul {
    display: flex;
}

.hd ul li {
    font-size: 16px;
    margin-right: 60px;
}

.java ul {
    margin-left: 70px;
}

.hd ul li .active {
    color: #00a4ff;
}

.bd {
    display: flex;
    justify-content: space-between;

}

.bd .left {
    width: 228px;
    
}

.bd .right {
    width: 957px;
}

.bd .right .top {
    margin-bottom: 15px;
    height: 100px;
}

.java02 {
    width: 1200px;
}

.footer {
    height: 273px;
    margin-top: 60px;
    padding-top: 60px;
    background-color: #fff;
}

.footer .wrapper {
    display: flex;
    justify-content: space-between;
}

.footer .wrapper .left {
    width: 440px;
}

.footer .left p {
    margin-top: 24px;
    margin-bottom: 14px;
    font-size: 12px;
    line-height: 17px;
    color: #666;
}

.footer .left .download {
    display: block;
    width: 120px;
    height: 36px;
    border: 1px solid #00a4ff;
    text-align: center;
    line-height: 34px;
    color: #00a4ff;
}

.footer .right {
    display: flex;
}

.footer .right dl {
    margin-left: 130px ;
}

.footer .right dt {
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 23px;
}

.footer .right a {
    font-size: 14px;
    line-height: 24px;
    color: #666;
}























